<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="style.css">


<style type="text/css">
  

body{
  position: absolute;
  top: -20px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  width: auto;
  height: auto;
  background-image: url(https://1.bp.blogspot.com/-kb5eBSh9ahk/V5Xcon54jbI/AAAAAAAA8qc/pimfCuG-qVgNbv0DnlYglK-fSpuyuMzXgCLcB/s2000/bg_abstract2_green.png);
  background-size: cover;
  webkit-filter: blur(5px);
  z-index: 0;
}
h1 {
  /*線の種類（二重線）太さ 色*/
  border-bottom: double 5px #FFC778;
}
</style>


</script>


</head>
<body>
    <form action="/youtube" method="GET">
      
      <p><font size="10" color="#696969" style="position: absolute; left: 30px; top: 10px">見たいYouTube共有URL</font></p>
      <input type="text" name="url1" id='url1' style="position: absolute; left: 30px; top: 130px"><br>
      <input type="text" name="url2" id='url2' style="position: absolute; left: 30px; top: 160px"><br>
      <input type="text" name="url3" id='url3' style="position: absolute; left: 30px; top: 190px"><br>
      <input type="text" name="url4" id='url4' style="position: absolute; left: 30px; top: 220px"><br>
      <input type="text" name="url5" id='url5' style="position: absolute; left: 30px; top: 250px"><br>
      <input type="text" name="url6" id='url6' style="position: absolute; left: 30px; top: 280px"><br>
      <input type="submit" value="GET" style="position: absolute; left: 30px; top: 310px">
      
    </form>
    
</body>
</html>